django==5.2.1
coverage==7.13.5
ipython==9.11.0
django-extensions==4.1
ipdb==0.13.13
black==25.1.0
django-cors-headers==4.9.0
djangorestframework==3.16.0
gunicorn==25.1.0
psycopg2-binary==2.9.11
pillow==11.2.1
docxtpl==0.20.2
ruff==0.15.7
mypy==1.19.1
django-stubs==5.2.9
djangorestframework-stubs==3.16.8
isort==6.0.1
pynvim==0.6.0
